<header>
    <nav class="navbar navbar-expand-md bg-success navbar-dark fixed-top">
        <!-- Brand -->
        <div class="navbar-header">
            <a class="navbar-brand" [routerLinkActive]="['active']" routerLink="home-page">Customer Support Portal</a>
         </div>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav w-100 mr-auto justify-content-left">
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="home-page">HOME</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="about">ABOUT US</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="services">SERVICES</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="contact">COTACT US</a>
            </li>
          </ul>
          <ul class="navbar-nav navbar-right ml-auto w-100 justify-content-end">
            <!-- <li class="nav-item" [routerLinkActive]="['active']"><a class="nav-link" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
            <li class="nav-item" [routerLinkActive]="['active']"><!--<a class="nav-link" routerLink="contact"><span class="fa fa-sign-in" aria-hidden="true"></span> Login</a>--><button mat-button (click)="openDialog()">Login</button>  </li>
          </ul>
        </div>
      </nav>
</header>