<mat-card class="matCard">
    <p>Product Master</p>
    <!-- <div class="row">
        <div class="col-sm-6">
            <mat-form-field>
                <mat-label></mat-label>
                <input placeholder="Product Code">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field>
                <mat-label></mat-label>
                <input placeholder="Product Name">
            </mat-form-field>
        </div>
    </div> -->
    <br>
    <div class="row text-right">
        <div class="col-sm-6">
           <!--  <button mat-button (click)="saveProductMaster()">Save</button>&nbsp;
            <button mat-button (click)="resetProductMaster()">Reset</button> -->
        </div>
    </div>
</mat-card>

