<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>Enter Your Email Id</p>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancelLogin()">Cancel</button>
  <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial (click)="login()">Enter</button>
</div> -->